*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header > h1{
background: dodgerblue;
color: skyblue;
text-align: center;
font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height: 100vh;
   /* vertical-align: middle; */
    /* transform: translate(50%, 50%); */
}
.card{
    transform:translate(50%, 50%);
    width:50%;
    min-height: 100px;
    text-align: center;
    /* border: 2px solid black; */
    background: #0f0f0f;
    color: #53affa;
    overflow: auto;
    padding-bottom: 10px;
}

.cardTitle{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.cardBody{
    display: block;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    
}

.btn{
    margin:10px auto;
    border-radius: 15px;
    background: dodgerblue;
    color: blanchedalmond;
    padding: 5px 10px;
    outline: none;
    font-weight: bold;

}